<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/reservationApp.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  </head>
  <script type="text/javascript">
    function isValidResource() {
      var currentDate = new Date();
      var resourceDate = document.getElementById("resourceDate").value
      var startTime = document.getElementById("resourceStartTime").value
      var endTime = document.getElementById("resourceEndTime").value

      var startTimeArray = startTime.split(':')
      var startTimeHours = parseInt(startTimeArray[0])
      var startTimeMinutes = parseInt(startTimeArray[1])

      var startTimeMeridian = ""
      var endTimeMeridian = ""

      if(startTimeHours == 0) {
        startTimeHours = 12
      }
          
      if(startTimeHours > 12) {
        startTimeHours = startTimeHours-12
        startTimeMeridian = 'PM'
      }
      else {
        startTimeMeridian = 'AM'
      }
          
      var endTimeArray = endTime.split(':')
      var endTimeHours = parseInt(endTimeArray[0])
      var endTimeMinutes = parseInt(endTimeArray[1])

      if(endTimeHours == 0) {
        endTimeHours = 12
      }
         
      if(endTimeHours > 12) {
        endTimeHours = endTimeHours-12
        endTimeMeridian = 'PM'
      }
      else {
        endTimeMeridian = 'AM'
      }

      var startTime = resourceDate+' '+(startTimeHours.toString())+':'+(startTimeMinutes.toString())+' '+startTimeMeridian
      var resourceStartTime = new Date(startTime)

      var endTime = resourceDate+' '+(endTimeHours.toString())+':'+(endTimeMinutes.toString())+' '+endTimeMeridian
      var resourceEndTime = new Date(endTime)

      if(resourceStartTime < currentDate) {
        var error = "Resource Start Date cannot be prior to Current Date"
        document.getElementById("createResourceError").innerHTML = error
        return false
      }
      else {
        if(resourceEndTime < resourceStartTime) {
          var error = "Resource End Time should be after Resource Start Time"
          document.getElementById("createResourceError").innerHTML = error
          return false
        }
        else {
          return true
        }
      }
    }
  </script>
  <body>
    <div class = "container">
      <h3>Reservation Application</h3>

      <div class="user-heading">
        Welcome
        {% if user %}
        {{user.nickname()}}
        {% endif %}
      </div>
      <br>
      <hr>
      <ul class="nav nav-pills">
        {% if ownerView == '0' %}
          <li><a href="?pageToDisplay=yourReservations&ownerView={{ownerView}}&resourceOwner={{resourceOwner}}" class=
            {% if pageToDisplay == "yourReservations" %}
              navbuttons
            {% endif %}
          >Your reservations</a>
          </li>
        {% endif %}

        {% if ownerView == '1' %}
          <li><a href="?pageToDisplay=yourReservations&ownerView={{ownerView}}&resourceOwner={{resourceOwner}}" class=
            {% if pageToDisplay == "yourReservations" %}
              navbuttons
            {% endif %}
          >Reservations of {{resourceOwner}}</a>
          </li>
        {% endif %}

        {% if ownerView == '0' %}
          <li><a href="?pageToDisplay=allResources"  class=
            {% if pageToDisplay == "allResources" %}
              navbuttons
            {% endif %}>All resources</a>
          </li>
        {% endif %}

        {% if ownerView == '0' %}
          <li><a href="?pageToDisplay=yourResources&ownerView={{ownerView}}&resourceOwner={{resourceOwner}}" class=
            {% if pageToDisplay == "yourResources" %}
              navbuttons
            {% endif %}>Resources owned by you</a></li>
        {% endif %}

        {% if ownerView == '1' %}
          <li><a href="?pageToDisplay=yourResources&ownerView={{ownerView}}&resourceOwner={{resourceOwner}}" class=
            {% if pageToDisplay == "yourResources" %}
              navbuttons
            {% endif %}>Resources of {{resourceOwner}}</a></li>
        {% endif %}


        {% if ownerView == '0' %}
          <li><a href="?pageToDisplay=createResource" class=
            {% if pageToDisplay == "createResource" %}
              navbuttons
            {% endif %}>Create a resource</a></li>
        {% endif %}

        <li><a href="/">Home</a></li>
        <li><a href="{{ url|safe }}">{{url_linktext}}</a></li>
      </ul>

      <hr>

      <div>
        <form method="get" action="/searchResource" id="searchNameForm">
          Search Resources by their name:
          <input type="text" name="searchName"></input>
          <input type="submit" value="Search" onclick="document.getElementById('searchNameForm').submit()""></input>
        </form>
      </div>
      <br>
      <div>
        <form method="get" action="/searchResourceByTime" id="searchTimeForm">
          Search Resources by availability:
          <input id="searchTime" name="searchTime" type="time"></input>
          Select Duration :
            <select id="endTimeHr" name="endTimeHr"> 
              {% for num in range(0,13) %}
                <option value="{{ num }}">{{num}}</option>          
              {% endfor %}
            </select>
            Hour(s)
            <select id="endTimeMin" name="endTimeMin">
              {% for num in range(0,60) %}
                <option value="{{ num }}">{{num}}</option>          
              {% endfor %}
            </select>
            Minute(s)
          <input type="submit" value="Search" onclick="document.getElementById('searchTimeForm').submit()"></input>
        </form>
      </div>
      <hr>

      {% if pageToDisplay == 'yourReservations' %}
        <div class="resourceTable">
          <div class="headrow">
            <div class="resourceCell">Resource Name</div>
            <div class="resourceCell">Reservation Start Time</div>
            <div class="resourceCell">Reservation Duration</div>
            <div class="resourceCell">Resource Tags</div>
            <div class="resourceCell">Delete Reservation</div>
          </div>

          {% for reservation in reservations %}
            {% if ownerView == '0' %}
              {% if user and user.user_id() == reservation.reservationAuthor.identity %}
                <div class="resourceRow" id="reservationRow{{reservation.reservedResourceId}}">
                  <form method="get" action="/reserveResource" id="{{reservation.reservedResourceName}}form">
                    <div class="resourceCell">
                      <input type="hidden" name="resourceId" value={{reservation.reservedResourceId}}>
                      <a href="#" onclick="document.getElementById('{{reservation.reservedResourceName}}form').submit()">{{ reservation.reservedResourceName }}</a>
                    </div>
                  </form>
                  <div class="resourceCell">{{ reservation.reservationStartTime }}</div>
                  <div class="resourceCell">{{ reservation.reservationDuration }}</div>
                  {% for resource in resources%}
                    {% if reservation.reservedResourceName == resource.resourceName %}
                      <div class="resourceCell">
                        {% for tag in resource.resourceTags %}
                            <form id="{{tag}}form" action="/resourceTags" method="get" class="tag-header">
                              <input type="hidden" name="resourceTag" value="{{tag}}">
                                <a href="#" onclick="document.getElementById('{{tag}}form').submit()">{{tag}}</a>
                            </form>
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endfor %}
                  <form method="get" action="/">
                    <div class="resourceCell">
                      <input type="hidden" name="deleteReservation" value="{{reservation.reservationId}}">
                      <input type="submit" value ="Delete" class="submit-button"></input>
                    </div>
                  </form>
                </div>

                <script type="text/javascript">
                  var currentDate = new Date()
                  var reservationEndTime = new Date("{{reservation.reservationEndTime}}")
                  if(reservationEndTime < currentDate) {
                    document.getElementById("reservationRow{{reservation.reservedResourceId}}").style.display ="none"
                  }
                </script>

              {% endif %}
            {% endif %}

            {% if ownerView == '1' %}
              {% if resourceOwner == reservation.reservationAuthor.email %}
                <div class="resourceRow" id="reservationRow{{reservation.reservedResourceId}}">
                  <form method="get" action="/reserveResource" id="{{reservation.resourceName}}form">
                    <div class="resourceCell">
                      <input type="hidden" name="resourceId" value={{reservation.reservedResourceId}}>
                      <a href="#" onclick="document.getElementById('{{reservation.resourceName}}form').submit()">{{ reservation.reservedResourceName }}</a>
                    </div>
                  </form>
                  <div class="resourceCell">{{ reservation.reservationStartTime }}</div>
                  <div class="resourceCell">{{ reservation.reservationDuration }}</div>
                  {% for resource in resources%}
                    {% if reservation.reservedResourceName == resource.resourceName %}
                      <div class="resourceCell">
                        {% for tag in resource.resourceTags %}
                            <form id="{{tag}}form" action="/resourceTags" method="get" class="tag-header">
                              <input type="hidden" name="resourceTag" value="{{tag}}">
                                <a href="#" onclick="document.getElementById('{{tag}}form').submit()">{{tag}}</a>
                            </form>
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endfor %}

                  {% if resourceOwner == user.email() %}
                    <form method="get" action="/">
                      <div class="resourceCell">
                        <input type="hidden" name="deleteReservation" value="{{reservation.reservationId}}">
                        <input type="submit" value ="Delete" class="submit-button"></input>
                      </div>
                    </form>
                  {% endif %}

                  {% if resourceOwner != user.email() %}
                    <form method="get" action="/">
                        <div class="resourceCell">
                          Not Authorized to Delete
                        </div>
                    </form>
                  {% endif %}
                </div>

                <script type="text/javascript">
                  var currentDate = new Date()
                  var reservationEndTime = new Date("{{reservation.reservationEndTime}}")
                  if(reservationEndTime < currentDate) {
                    document.getElementById("reservationRow{{reservation.reservedResourceId}}").style.display ="none"
                  }
                </script>

              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      {% if pageToDisplay == 'yourResources' %}
        <div class="resourceTable">
          <div class="headrow">
            <div class="resourceCell">Resource Name</div>
            <div class="resourceCell">Resource Start Time</div>
            <div class="resourceCell">Resource End Time</div>
            <div class="resourceCell">Resource Tags</div>
            <div class="resourceCell">Number of Reservations</div>
            <div class="resourceCell">RSS Link</div>
          </div>

          {% for resource in resources %}
            {% if ownerView == '0' %}            
              {% if user and user.user_id() == resource.resourceAuthor.identity %}
                <div class="resourceRow">
                  <form method="get" action="/reserveResource" id="{{resource.resourceName}}form">
                    <div class="resourceCell">
                      <input type="hidden" name="resourceId" value={{resource.resourceId}}>
                      <a href="#" onclick="document.getElementById('{{resource.resourceName}}form').submit()">{{ resource.resourceName }}</a>
                    </div>
                  </form>
                  <div class="resourceCell">{{ resource.resourceStartTime }}</div>
                  <div class="resourceCell">{{ resource.resourceEndTime }}</div>
                  <div class="resourceCell">
                    {% for tag in resource.resourceTags %}
                      <form id="{{tag}}form" action="/resourceTags" method="get" class="tag-header">
                          <input type="hidden" name="resourceTag" value="{{tag}}">
                          <a href="#" onclick="document.getElementById('{{tag}}form').submit()">{{tag}}</a>
                      </form>
                    {% endfor %}
                  </div>
                  <div class="resourceCell">{{ resource.numberOfReservations }}</div>
                  <form method="get" action="/seeRSS" id="{{resource.resourceId}}RSSform">
                    <div class="resourceCell">
                      <input type="hidden" name="resourceId" value={{resource.resourceId}}>
                      <a href="#" onclick="document.getElementById('{{resource.resourceId}}RSSform').submit()">RSS</a>
                    </div>
                  </form>
                </div>
              {% endif %}
            {% endif %}

            {% if ownerView == '1' %}
              {% if resourceOwner == resource.resourceAuthor.email %}
                <div class="resourceRow">
                  <form method="get" action="/reserveResource" id="{{resource.resourceName}}form">
                    <div class="resourceCell">
                      <input type="hidden" name="resourceId" value={{resource.resourceId}}>
                      <a href="#" onclick="document.getElementById('{{resource.resourceName}}form').submit()">{{ resource.resourceName }}</a>
                    </div>
                  </form>
                  <div class="resourceCell">{{ resource.resourceStartTime }}</div>
                  <div class="resourceCell">{{ resource.resourceEndTime }}</div>
                  <div class="resourceCell">
                    {% for tag in resource.resourceTags %}
                      <form id="{{tag}}form" action="/resourceTags" method="get" class="tag-header">
                          <input type="hidden" name="resourceTag" value="{{tag}}">
                          <a href="#" onclick="document.getElementById('{{tag}}form').submit()">{{tag}}</a>
                      </form>
                    {% endfor %}
                  </div>
                  <div class="resourceCell">{{ resource.numberOfReservations }}</div>
                  <form method="get" action="/seeRSS" id="{{resource.resourceId}}RSSform">
                    <div class="resourceCell">
                      <input type="hidden" name="resourceId" value={{resource.resourceId}}>
                      <a href="#" onclick="document.getElementById('{{resource.resourceId}}RSSform').submit()">RSS</a>
                    </div>
                  </form>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      {% if pageToDisplay == 'allResources' %}
        <div class="resourceTable">
          <div class="headrow">
            <div class="resourceCell">Resource Name</div>
            <div class="resourceCell">Resource Owner</div>
            <div class="resourceCell">Resource Start Time</div>
            <div class="resourceCell">Resource End Time</div>
            <div class="resourceCell">Resource Tags</div>
            <div class="resourceCell">Number of Reservations</div>
            <div class="resourceCell">RSS Link</div>
          </div>

          {% for resource in resources %}
            <div class="resourceRow">

              <form method="get" action="/reserveResource" id="{{resource.resourceName}}form">
                <div class="resourceCell">
                  <input type="hidden" name="resourceId" value={{resource.resourceId}}>
                  <a href="#" onclick="document.getElementById('{{resource.resourceName}}form').submit()">{{ resource.resourceName }}</a>
                </div>
              </form>

              <div class="resourceCell">
                <a href="/?resourceOwner={{resource.resourceAuthor.email}}">{{ resource.resourceAuthor.email }}</a>
              </div>
              <div class="resourceCell">{{ resource.resourceStartTime }}</div>
              <div class="resourceCell">{{ resource.resourceEndTime }}</div>
              <div class="resourceCell">
                {% for tag in resource.resourceTags %}
                  <form id="{{tag}}form" action="/resourceTags" method="get" class="tag-header">
                    <input type="hidden" name="resourceTag" value="{{tag}}">
                    <a href="#" onclick="document.getElementById('{{tag}}form').submit()">{{tag}}</a>
                  </form>
                {% endfor %}
              </div>
              <div class="resourceCell">{{ resource.numberOfReservations }}</div>
              <form method="get" action="/seeRSS" id="{{resource.resourceId}}RSSform">
                <div class="resourceCell">
                  <input type="hidden" name="resourceId" value={{resource.resourceId}}>
                  <a href="#" onclick="document.getElementById('{{resource.resourceId}}RSSform').submit()">RSS</a>
                </div>
              </form>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if pageToDisplay == 'createResource' %}
        <div>
          <h4>Create a new Resource</h4>
          <br>
          <div id="createResourceError" class="createResourceError"></div>
          <br>
          <form action="/create" method="post" id="createResourceForm" onSubmit="return isValidResource()">
            <div> Resource Name:
              <input id="resourceName" value="{{ resourceName }}" name="resourceName" required></input>
            </div>
            <br>
            <div> Select Date (MM-DD-YYYY):
              <input id="resourceDate" name="resourceDate" type="date"></input>
            </div>
            <br>
            <div> Select Start Time:
              <input id="resourceStartTime" name="resourceStartTime" type="time"></input>
            </div>
            <br>
            <div> Select End Time:
              <input id="resourceEndTime" name="resourceEndTime" type="time"></input>
            </div>
            <br>
            <div> Set Resource Tags (Separate by ',') :
              <input id="resourceTags" name="resourceTags"></input>
            </div>
            <br>
            <input type="submit" value="Submit" class="submit-button">
          </form>
        </div>

      {% endif %}   


    </div>
  </body>
</html>
{% endautoescape %}
